.home {    
  &__nav {
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    z-index: 99998;

    padding: 0px 74px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    background-color: black;
    color: white;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;

      justify-self: flex-start;
    }

    &__middle {
      justify-content: center;
      transform: translateX(-13px);
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 205px;

      justify-self: flex-end;
    }

    &__item {
      display: flex;
      height: 100%;

      margin: 0px 0px 0px 19px;
    }

    &__item:first-child {
      display: flex;
      height: 100%;
    }

    &__item-highlight {
      color: rgb(126,255,128);
      border-bottom: 3px solid rgb(126,255,128);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 74px 19px 0px 19px;
    height: calc(100vh);

    overflow-y: auto;

    color: #0B214A;
    font-size: 49px;
  }
}

.responsive-img {
  width: 100%;
  height: auto;
}



